body {
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
    color: #2BC0E4;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    width: 100%;
}

.info {
    text-align: center;
}

.container {
    padding: 5% 5% 10% 5%;
}

.island {
    margin: 2%;
}

#well {
    background: #EAECC6;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 0;
}

#searchContainer {
    text-align: center;
    padding: 1em; 
}

.results {
    text-align: center;
}

.title {
    width: 50%;
    margin: 0 auto;
    color: white;
    font-size: 4em;
}

.selectedSchools.ui.label {
    margin: 3%;
}

.instructions {
    font-size: 1.5em;
}
